@(logs: Seq[Log], players: Map[reactivemongo.bson.BSONObjectID, Player])(implicit me: Player)

@showPoints(points: Int) = {
  @if(points != 0) {
    (@if(points > 0){+}@points points)
  }
}

@main("Hackday - last changes") {

  <ul>
  @for(log <- logs) {
    @defining(players.get(log.playerId)) { player =>
      <li>
        @log.date :
        @(player.map(_.name))(@player.map(_.points))
        @log.msg
        @log.by.map { b => [@b] }
        @showPoints(log.diff)
      </li>
    }
  }
  </ul>

}
