@(
  logs: Seq[Log],
  apps: Map[String, App],
  players: Map[reactivemongo.bson.BSONObjectID, Player]
)(implicit me: Player)

@import play.api.libs.json._

@import formats.Logs._
@import formats.Players._

@main("Hackday - last changes") {

  <script>
    window.pageInfos = {
      logs: @{
        implicit val writes = jsonLogWrites(players, apps)
        Html(Json.stringify(JsObject(logs.map { log =>
          log.id -> Json.toJson(log)
        })))
      }
    };
  </script>

  <ul>
  @for(log <- logs) {
    @defining(players.get(log.playerId)) { player =>
      <li data-log="@log.id"></li>
    }
  }
  </ul>

}
