@(
  logs: Seq[Log],
  apps: Map[String, App],
  players: Map[reactivemongo.bson.BSONObjectID, Player]
)(implicit me: Player)

@showPoints(points: Int) = {
  @if(points != 0) {
    (@if(points > 0){+}@points points)
  }
}

@showApp(app: App) = {
  [@app.url match {
    case Some(url) => {<a href="@url">@app.nameOrKey</a>}
    case _ => {@app.nameOrKey}
  }]
}

@main("Hackday - last changes") {

  <ul>
  @for(log <- logs) {
    @defining(players.get(log.playerId)) { player =>
      <li>
        @log.date :
        @player.map(_.name)
        @log.msg
        @log.appId.flatMap(apps.get(_)).map { a => @showApp(a) }
        @showPoints(log.diff)
        :: @log.oldPoints ⇒ @log.newPoints
      </li>
    }
  }
  </ul>

}
